@import "highlight.js/styles/github-dark-dimmed.css";

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --color-primary: 217 255 0;
    --color-primary-hover: 199 240 0;
  }

  html {
    @apply antialiased font-sans;
  }

  h1, h2, h3, h4, h5, h6 {
    font-family: "Space Grotesk", sans-serif;
  }

  body {
    @apply m-0 min-h-screen bg-background text-textPrimary;
  }

  #root {
    @apply min-h-screen;
  }
}
